/***************left side css start**********/

.bot-response {
  font-size: 0.8rem;
  border-radius: 10px !important;
  font-weight: 100;
}

.bot-input {
  border-radius: 10px !important;
  font-size: 0.8rem;
  color: #333333;
}

.main-bot-input {
  border-radius: 10px !important;
  font-size: 0.8rem;
  // color: #333333;
  color: #d31e25;
}

.media-chat {
  padding-right: 14px;
  margin-bottom: 0;
}

.media {
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.media .avatar {
  flex-shrink: 0;
}

.media-chat .media-body {
  -webkit-box-flex: initial;
  display: table;
}

.media-body {
  min-width: 0;
}

.output .media-body p {
  position: relative;
  padding: 6px 12px;
  margin: 16px 14px 14px 0px;
  background-color: rgb(255 255 255 / 14%);
  border: solid 1px #dcd7d7;
  border-radius: 3px;
  font-weight: 100;
  color: #333333;
}

.output .media-body span {
  position: relative;
  padding: 6px 20px;
  margin: 16px 0px;
  background-color: rgb(255 255 255 / 14%);

  border: solid 1px #dcd7d7;
  border-radius: 3px;
  color: #333333;
  font-weight: 100;
  font-size: 13.5px;
}

.input .media-body p {
  position: relative;
  padding: 6px 10px;
  margin: 14px 9px;
  background-color: #737373;
  // background-color:#0073c0;
  border-radius: 3px;
  font-weight: 100;
  color: white;
}
.input .media-body span {
  position: relative;
  padding: 6px 31px 6px 16px;
  margin: 10px 9px;
  // background-color:#0073c0;
  background-color: #737373;
  border-radius: 3px;
  font-weight: 100;
  color: white;
  font-size: 13.5px;
}
p.bot-input:after {
  content: "";
  position: absolute;
  visibility: visible;
  top: 0px;
  right: -10px;
  border: 10px solid transparent;
  // border-top: 10px solid #0073c0;
  border-top: 10px solid #737373;
}
p.main-bot-input:after {
  content: "";
  position: absolute;
  visibility: visible;
  top: 0px;
  right: -10px;
  border: 10px solid transparent;
  // border-top: 10px solid #0073c0;
  border-top: 10px solid #d31e25;
}
span.bot-input:after {
  content: "";
  position: absolute;
  visibility: visible;
  top: 0px;
  right: -10px;
  border: 10px solid transparent;
  border-top: 10px solid #737373;
}

span.bot-response:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: -10px;
  top: 0px;
  bottom: auto;
  border-color: rgba(247, 150, 29, 0.14) transparent;
  right: -10px;
  border-top: 10px solid #737373;
}
.subtime {
  margin-top: 12px;
}
.subtime2 {
  float: right;
  margin-top: 12px;
}
.input.bot-input-time {
  color: white;
  float: right;
  margin-top: 5%;
}
.output.bot-input-time {
  color: #c6c6c6;
  float: right;
  margin-top: 5%;
}

.media > * {
  margin: 0 8px;
}

.media-chat .media-body p.meta {
  background-color: transparent !important;
  padding: 0;
  opacity: 0.8;
}
.media-chat .media-body span.meta {
  background-color: transparent !important;
  padding: 0;
  opacity: 0.8;
}
.media-meta-day {
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 0;
  color: #8b95a5;
  opacity: 0.8;
  font-weight: 400;
}

.media {
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.media-meta-day::before {
  margin-right: 16px;
}

.media-meta-day::before,
.media-meta-day::after {
  content: "";
  -webkit-box-flex: 1;
  flex: 1 1;
  border-top: 1px solid #ebebeb;
}

.media-meta-day::after {
  content: "";
  -webkit-box-flex: 1;
  flex: 1 1;
  border-top: 1px solid #ebebeb;
}

.media-meta-day::after {
  margin-left: 16px;
}

.media-chat.input {
  padding-right: 12px;
  padding-left: 64px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  display: flex;
  flex-direction: row-reverse;
}

.media-chat {
  padding-right: 15px;
  margin-bottom: 0;
}

.media {
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}
.text-info {
  color: #0099ff;
  cursor: pointer;
}

.media-chat.input .media-body p {
  float: right;
  clear: right;
  word-wrap: break-word;
}

.saveBtn {
  line-height: 28px;
  padding: 0 8px;
  height: 35px;
}

.media-chat.input .media-body span {
  float: right;
  clear: right;
  word-wrap: break-word;
}

.media-chat.output .media-body p {
  word-wrap: break-word;
}
.media-chat.output .media-body span {
  word-wrap: break-word;
}
.media-body {
  width: 100% !important;
}

.border-light {
  border-color: #f1f2f3 !important;
}
.red {
  color: red;
}
.poppins {
  font-family: poppins;
}

p.bot-response {
  font-weight: 400 !important;
}
p.bot-input {
  font-weight: 400 !important;
}
.textFirst2 {
  display: inline-block;
  font-size: 1em;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.6em;
  text-align: center;
  border-radius: 50%;
  background: #737373;
  color: white;
}

.interactions-drop {
  position: absolute;
}
.rounded-dialog .mat-dialog-container {
  border-radius: 12px !important;
  padding: 0 !important; /* optional */
}
