.loginPad {
  opacity: 1;
  background: #ffffff;
  border-radius: 20px;
  margin-bottom: auto;
  box-shadow: 1px solid #ededed;
}

.login_image {
  // padding: 0%;
  // margin: 0%;
  // height: 100%;
  // width: 100%;
  position: absolute;
  // background-repeat: no-repeat;
  // background-size: cover;

  height: calc(100vh);
  // height: 650px;
  background-repeat: no-repeat;
  background-size: 100%;
  // background-position: center;
}
// @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
//     .login_image{
//         font-size: 10px;
//     }

//   }

.login-text {
  font-size: 16px;
  font-family: Poppins;
  font-weight: 500;
  font-style: normal;
  opacity: 0.9;
  color: #000000;
}

.signin {
  font-size: 18px;
  font-family: Poppins;
  font-weight: 500;
  font-style: normal;
  color: #c93337;
  margin: 0px;
}

.submit-btn {
  font-size: 16px !important;
  font-family: Roboto !important;
  font-weight: 400;
  font-style: normal;
  background-color: #c93337 !important;
  color: #ffffff !important;
  margin: 0px;
  border-radius: 8px !important;
}

#floatingBarsG {
  position: relative;
  width: 16px;
  height: 20px;
}
.blockG {
  position: absolute;
  background-color: #c4c4c4;
  width: 3px;
  height: 6px;
  border-radius: 3px 3px 0 0;
  transform: scale(0.4);
  animation-name: fadeG;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-direction: linear;
}
#rotateG_01 {
  left: 0;
  top: 7px;
  animation-delay: 0.3s;
  transform: rotate(-90deg);
}
#rotateG_02 {
  left: 2px;
  top: 3px;
  animation-delay: 0.4s;
  transform: rotate(-45deg);
}
#rotateG_03 {
  left: 7px;
  top: 1px;
  animation-delay: 0.5s;
  transform: rotate(0deg);
}
#rotateG_04 {
  right: 2px;
  top: 3px;
  animation-delay: 0.6s;
  transform: rotate(45deg);
}
#rotateG_05 {
  right: 0;
  top: 7px;
  animation-delay: 0.7s;
  transform: rotate(90deg);
}
#rotateG_06 {
  right: 2px;
  bottom: 2px;
  animation-delay: 0.8s;
  transform: rotate(135deg);
}
#rotateG_07 {
  bottom: 0;
  left: 7px;
  animation-delay: 0.9s;
  transform: rotate(180deg);
}
#rotateG_08 {
  left: 2px;
  bottom: 2px;
  animation-delay: 1s;
  transform: rotate(-135deg);
}
@keyframes fadeG {
  0% {
    background-color: #000000;
  }
  100% {
    background-color: #c4c4c4;
  }
}
