<button (click)="openTimerDialog(openTimer)" hidden id="timerId"></button>
<!---ON/OFF-->
<ng-template #openTimer>
  <div class="col-sm-12 p-0">
    <p class="mb-0 p-3 text-center delete-dialog-title">
      Your session is going to expire in 
    </p>
</div>
<hr class="mt-0 mb-0 ml-4 mr-4">
<div class="col-sm-12">
    <p class="mb-0 px-4 py-3 text-center timer">
      {{display}}
    </p>
    <div class="col-sm-12 pb-3 row m-0 justify-content-center">
        <button type="button" class="btn delete-dialog-btn mr-3" (click)= "resetTimer()">Continue</button>
        <button type="button" class="btn delete-dialog-btn " (click)= "logout()">Logout</button>
    </div>
</div>
</ng-template>