.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.dwnld-btn {
    background: #FCFCFC;
border: 1px solid #199ad6;
border-radius: 4px;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.0125em;
text-transform: uppercase;
// opacity: 0.2;
color: #199ad6;
cursor: pointer;
padding: 11px;
margin-top: 7px;

}
textarea.mat-input-element.cdk-textarea-autosize {
    resize: auto;
    overflow: hidden;
}
input[type="file"] {
    display: none;
}