.ag-header-cell-text {
  font-size: 1.3rem !important;
  font-family: Rubik !important;
  font-weight: 500 !important;
}

.ag-ltr .ag-cell {
  font-size: 1.2rem !important;
  font-family: Rubik !important;
  font-weight: 300 !important;
}
