.custom-stepper.mat-stepper-horizontal {
  background-color: transparent !important;
  height: 88vh;
  /* height: 58%; */
  /* overflow: auto;*/
}

.mat-stepper-label-position-bottom .mat-horizontal-stepper-header {
  box-sizing: border-box;
  height: auto;
}
.mat-stepper-horizontal {
  display: block;
  font-family: var(--mat-stepper-container-text-font);
}

.mat-step-header .mat-step-icon-selected {
  background-color: #d3222a; //#3ea3ec; !important; // #3e8ed0 !important;
  width: 40px;
  height: 40px;
}

.mat-step-text-label {
  text-overflow: ellipsis !important;
  overflow: hidden;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.0125em;
  text-transform: capitalize;
  color: #494a4c;
}
.mat-stepper-horizontal-line {
  border-top-color: #d3222a; //#3ea3ec; !important; // #3e8ed0 !important ;
}

.mat-step-icon-state-edit {
  background-color: #d3222a; //#3ea3ec;; // #4db8e7 !important;
  color: #fff !important;
}

.mat-horizontal-stepper-header {
  display: flex;
  height: 72px;
  overflow: hidden;
  align-items: center;
  padding: 0 22px !important;
  height: var(--mat-stepper-header-height);
}
input.p-element.p-autocomplete-input.p-inputtext.p-component {
  margin-left: 19px !important;
  height: 40px;
  width: 250px;
  border: 1px solid rgba(58, 53, 65, 0.8) !important;
  font-size: 17px !important;
  font-style: normal;
  font-family: Inter !important;
}

.product-department .p-dropdown .p-inputtext {
  font-size: 12px;
  font-family: "Inter";
}

.dropdown .product-department.p-inputtext-sm .p-inputtext {
  display: flex;
  padding: 8px 12px;
  align-items: center;
  gap: 8px;
  font-size: 16px !important;
  align-self: stretch;
  border-radius: 8px;
  background: var(--Base-White, #fff);
}

.dropdowns.custom-stepper .mat-horizontal-content-container {
  overflow: hidden;
  padding: 0 8px 8px 0px;
}

.product-department .p-dropdown {
  width: 98% !important;
  font-size: 10px;
  border-radius: 8px !important;
  border: 1px solid rgba(58, 53, 65, 0.8705882353) !important;
  margin-left: 12px;
}

.product-department.p-inputtext-sm .p-inputtext {
  display: flex;
  padding: 8px 12px;
  align-items: center;
  gap: 8px;
  font-size: 16px !important;
  align-self: stretch;
  border-radius: 8px;
  background: var(--Base-White, #fff);
}
.product-department .p-dropdown .p-inputtext {
  font-size: 12px;
  font-family: "Inter";
}

.custom-stepper.mat-stepper-horizontal {
  background-color: transparent !important;
}

.custom-stepper .mat-horizontal-content-container {
  overflow: hidden;
  padding: 0 8px 8px 0px;
}
//   margin-left: 19px !important;
//   height: 40px;
//   width: 250px;
//   border: 1px solid rgba(58, 53, 65, 0.8) !important;
//   font-size: 17px !important;
//   font-style: normal;
//   font-family: Poppins !important;
// }

.autoCompleteText .p-autocomplete {
  width: 100% !important;
}

.autocmpltClass {
  button.p-autocomplete-dropdown {
    color: #ffffff;
    // background: #1da750;
  }
  .p-autocomplete-panel {
    background: #ffffff;
    color: #495057;
    border: 0 none;
    border-radius: 6px;
    width: 230px !important;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  }
}

.build-rep-btn {
  // height: 36px;
  padding: 8px 16px;
  border-radius: 5px;
  outline: none;
}

.primary-button {
  border: 1px solid #d3222a; //#3ea3ec;;
  background: #fff;
  color: #d3222a; //#3ea3ec;;
  padding: 5px 10px;
  border-radius: 7px;
}

.secondary-button {
  border-radius: 5px;
  background: #d3222a; //#3ea3ec;;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 7px;
}
