.detail-heder-l {
    padding-bottom: 10px !important;
    padding-left: 10px !important;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;
    color: #000000;
    opacity: 0.6;
  }
  
  .detail-heder-v {
    padding-bottom: 10px;
    text-align: right;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;
    color: #000000;
  }