.container{max-width:1170px; margin:auto;}
img{ max-width:100%;}

.inbox_msg {
  
  clear: both;
  overflow: hidden;
}
.top_spac{ margin: 20px 0 0;}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  // color: #7ea3e0;
  color: #737373;
  background-color: white !important;
  border-bottom: 2px solid;
  box-shadow: 2px 2px 5px 2px #ebe9e9;
  font-weight: 400;
}

.nav-pills .nav-link, .nav-pills .show > .nav-link {
color: #7a7a7a;

}
.srch_bar {
  display: inline-block;
  text-align: left;
  width: 60%;
}
.user_heading {
  float: left;
   width:30%;
}
.date_heading {
  float: left;
   width:30%;
}
.submit_btn {
  float: left;
  width:10%;
}
.headind_srch{  overflow:hidden; border-bottom:1px solid #c4c4c4;}

.recent_heading h4 {
  color: #05728f;
  font-size: 15px;
  margin: auto;
  font-family: poppins;
}
.history_heading h4 {
  color: #05728f;
  font-size: 15px;
  margin: auto;
  font-family: poppins;
}
.srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
.srch_bar .input-group-addon { margin: 0 0 0 -27px;}

.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_img {
  float: left;
  width: 11%;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}
.chat_list:hover {
    background-color: #ebebeb;
    cursor: pointer;
}
.inbox_chat { height: calc(100vh - 209px); 
    overflow-y: scroll;}


.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }
 .received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.lblCartCount {
  
  display: block;
  font-size: 12px !important;
  font-family: poppins;
  background: #d54b4b;
  color: #fff;
  border-radius: 9px;
}
.cancel {
  color: #d54b4b;;
}
.received_withd_msg { width: 57%;}
// .chat_list:focus {
//   background-color: #ebebeb;
//   cursor: pointer;
// }