@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.infoset-content {
  height: 90vh;
  background-image: url("/assets/images/infoset-icons/infoset_bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.infoset-build {
  // height: 90vh;
  background-color: transparent;
}

/* flowchart.component.css */
/* flowchart.component.css */
.flowchart-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 500px;
}

.myDiagramDiv {
  flex: 1;
  // border: 1px solid black;
}

//   .mat-fab {
//     position: absolute;
//     top: 10px;
//     left: 10px;
//   }

.title {
  font-family: Manrope !important;
  font-size: 24px !important;
  font-weight: 700 !important;
  line-height: 48px;
  text-align: left;
  color: #171a1f !important;
}

.save-title {
  font-family: Manrope;
  font-size: 20px;
  font-weight: 700;
  line-height: 48px;
  text-align: left;
  color: #171a1f;
}

.label-title {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
}

.desc-text-area {
  padding: 10px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
}

textarea.w-100.desc-text-area {
  outline: none;
}

.font-16 {
  font-size: 16px;
}

.font-14 {
  font-size: 14px;
}

.font-12 {
  font-size: 12px;
}

.span-content {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: #000;
}

.justifyOptions .p-button {
  padding: 0.65rem 0.75rem !important;
}

.p-selectbutton .p-button.p-highlight {
  box-shadow: none !important;
}

.p-button:focus {
  box-shadow: none;
}

.colorPicker-border {
  border-radius: 6px;
  border: 1px solid #d1d5db;
  width: 90%;
  align-items: center;
  justify-content: space-around;
}

.colorPicker {
  border-radius: 6px;
  border: 1px solid #d1d5db;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 0px 10px 0px 0px;
}

.childConfigMenu {
  display: flex;
  border-radius: 8px;
  border: 1px solid #d6d6d6;
  padding: 5px;
  box-shadow: 0px 5px 10px 0px #ececec;
  align-items: center;
  gap: 14px;
}

.childConfigMenu li {
  list-style: none;
  margin-left: 10px;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 500;
  color: #565d6d;
  padding: 5px;
  cursor: pointer;
}

.childConfigMenu li.active {
  border-radius: 25px;
  padding: 6px 12px;
  background: #d3222a;
  color: white;
}

.childMenuName {
  font-family: Manrope;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  color: #323743;
}

.labels {
  font-family: Manrope;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  color: #323743;
}

.uploadImageBorder {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d6d6d6;
  padding: 10px 24px;
  border-radius: 10px;
  opacity: 0px;
  cursor: pointer;
}

mat-icon {
  margin-right: 8px;
}

.customizeTable {
  width: 40%;
}

.customizeTable td {
  vertical-align: top;
  padding: 12px 0px;
}

.customizeTable td:first-child {
  min-width: 150px;
}

.customizeTable td:last-child {
  min-width: 150px;
  text-align: center;
}

.uploaded-image {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.colorPreview .p-colorpicker-preview {
  width: 1.4rem;
  height: 1.6rem;
}

.chat-content {
  border: 1px solid #00000040;
  border-radius: 30px;
  height: 610px;
  width: 360px;
  box-shadow: 0px 5px 10px 0px #0000000d;
  background-color: #f8f9fa;
}

.header-chat {
  display: flex;
  background-color: #fff;
  height: 10%;
  border-radius: 30px 30px 0px 0px;
  border-bottom: 1px solid #e3e3e3;
  padding: 20px;
}

.content-chat {
  display: flex;
  //height: 80%;
  //padding: 12px;
  flex-direction: column;
  //overflow-y: scroll;
}

.footer-chat {
  background-color: #fff;
  //height: 10%;
  border-radius: 0px 0px 30px 30px;
  border-top: 1px solid #e3e3e3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-text {
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
}

.right-chat {
  max-width: 260px;
  padding: 12px 16px;
  border-radius: 10px;
  background: #ffffff;
  border: 1px solid #e3e3e3;
  text-align: justify;
  word-break: break-all;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 500;
}

.left-chat {
  max-width: 260px;
  padding: 12px 16px;
  border-radius: 10px;
  background: #ffffff;
  border: 1px solid #e3e3e3;
  text-align: justify;
  word-break: break-all;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 500;
}

.profile-icon {
  border-radius: 50%;
  object-fit: cover;
}

.generalSetup label {
  font-size: 16px !important;
  font-family: "Manrope" !important;
  font-weight: 500 !important;
}

.span-type {
  font-family: Manrope;
  font-size: 16px;
  font-weight: 500;
  line-height: 21.86px;
  text-align: left;
  color: #6d6d6d;
}

.trigger-section span {
  padding: 0;
  color: #565d6d;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 125% */
}

.Web-Configuration-section span {
  padding: 0;
  color: #565d6d;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 125% */
}

.chat-test-dialog .mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 30px !important;
}

.menuList .mat-mdc-menu-content {
  height: 292px;
  width: 224px;
  overflow: scroll;
}

span.spanBorder {
  width: 100%;
  height: 42px;
  border: 1px solid #d6d6d6;
  border-radius: 8px;
  padding: 8px 15px;
}

.input-css {
  background: none;
  outline: none;
  border: none;
}

.btn-span {
  background-color: #d3222a;
  text-align: center;
  padding: 8px;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
}
.btn-span-list {
  // background-color: #3ea3ec;
  // text-align: center;
  // padding: 8px;
  // color: #fff;
  // font-size: 16px;
  // border-radius: 5px;

  text-align: center;
  padding: 8px;
  color: #d3222a;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid;
}

.bt {
  background-color: rgba(62, 163, 236, 0.1);
  padding: 4px 12px;
  border-radius: 5px;
  color: rgb(236, 62, 62);
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  border: none;
}
.btnTab {
  // padding: 6px 12px;
  // color:#000;
  // font-weight: 600;
  // border-radius: 8px;
  padding: 6px 12px;
  color: #000;
  font-family: poppins;
  font-size: 13px;
  font-weight: 500;
  border-radius: 8px;
}

.btn-style {
  //border-radius: 8px;
  // background: #fff;
  // padding: 10px 5px;
  //border: 1px solid #eeeaea;
  background: #fff;
  padding: 8px 4px;
}
.domain-class input.p-element.p-autocomplete-input.p-inputtext.p-component {
  width: 100% !important;
  margin-left: 0px !important;
}
/* Custom styles for the round blue plus icon */
.blue-round-plus {
  background-color: #d3222a;
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  margin-top: 24px;
}
.chat-dialog {
  position: absolute; /* or fixed, depending on your needs */
  z-index: 1000; /* Ensure it's on top of other elements */
  width: 360px; /* or your preferred width */
  height: 610px; /* or your preferred height */
}
/* Set border radius to the dialog's header */

.bot-chat-conatiner .p-dialog-header {
  border-top-right-radius: 50px !important;
  border-top-left-radius: 50px !important;
  border-bottom: 1px solid #e2e2e2;
}

.bot-chat-conatiner .p-dialog-footer {
  border-bottom-right-radius: 50px !important;
  border-bottom-left-radius: 50px !important;
  border-top: 1px solid #e1e1e1 !important;
}
.bot-chat-conatiner .p-dialog .p-dialog-content {
  padding: 0 1.5rem 1rem 1.5rem !important;
  height: calc(100vh - 200px);
  overflow-y: scroll;
}
.bot-chat-conatiner .p-dialog {
  border-radius: 50px;
}

.upload-box {
  border: 2px dashed #dee2e6;
  border-radius: 8px;
  padding: 12px 20px;
  display: inline-flex !important;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
  background: white;
  width: fit-content;
}

.upload-box:hover {
  border-color: #d82028;
  background: #f8f9fa;
}

.upload-box i {
  color: #d82028;
  font-size: 20px;
}

.preview-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 4px;
  border: 1px solid #dee2e6;
}
