.is-inline.input {
  width: auto;
}
.button.is-info {
  background-color: #3298dc;
  border-color: transparent;
  color: #fff;
}
.is-inline {
  display: inline !important;
}
.input,
.textarea {
  box-shadow: inset 0 0.0625em 0.125em rgb(10 10 10 / 5%);
  max-width: 100%;
  width: 100%;
}
.input,
.textarea,
.select select {
  background-color: white;
  border-color: #dbdbdb;
  border-radius: 4px;
  color: #363636;
}
.button,
.input,
.textarea,
.select select,
.file-cta,
.file-name,
.pagination-previous,
.pagination-next,
.pagination-link,
.pagination-ellipsis {
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  display: inline-flex;
  font-size: 1rem;
  height: 2.5em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.5em - 1px);
  padding-left: calc(0.75em - 1px);
  padding-right: calc(0.75em - 1px);
  padding-top: calc(0.5em - 1px);
  position: relative;
  vertical-align: top;
}
.panel-heading {
  background-color: #ededed;
  border-radius: 6px 6px 0 0;
  color: #363636;
  font-size: 1.25em;
  font-weight: 700;
  line-height: 1.25;
  padding: 0.75em 1em;
}
.field.is-grouped.is-grouped-multiline > .control:last-child,
.field.is-grouped.is-grouped-multiline > .control:not(:last-child) {
  margin-bottom: 0.75rem;
}
.field.is-grouped > .control:not(:last-child) {
  margin-bottom: 0;
  margin-right: 0.75rem;
}
.control {
  box-sizing: border-box;
  clear: both;
  font-size: 1rem;
  position: relative;
  text-align: inherit;
}
.panel-tabs:not(:last-child),
.panel-block:not(:last-child) {
  border-bottom: 1px solid #ededed;
}
.panel-block {
  align-items: center;
  color: #363636;
  display: flex;
  justify-content: flex-start;
  // padding: 0.5em 0.75em;
}
.panel {
  border-radius: 6px;
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
    0 0px 0 1px rgb(10 10 10 / 2%);
  font-size: 1rem;
}
.panel-block:last-child {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.field.is-grouped {
  display: flex;
  justify-content: flex-start;
}
.field.is-grouped > .control {
  flex-shrink: 0;
}
.button.is-danger.is-outlined {
  background-color: transparent;
  border-color: #f14668;
  color: #f14668;
}
.button.is-link {
  background-color: #3273dc;
  border-color: transparent;
  color: #fff;
}
.file.is-boxed .file-label {
  flex-direction: column;
}
.file-label {
  align-items: stretch;
  display: flex;
  cursor: pointer;
  // justify-content: flex-start;
  justify-content: center;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
}
.file-input {
  height: 100%;
  left: 0;
  opacity: 0;
  outline: none;
  position: absolute;
  top: 0;
  width: 100%;
}
.file.is-boxed.has-name .file-cta {
  border-radius: 4px 4px 0 0;
}
.file.is-boxed .file-cta {
  flex-direction: column;
  height: auto;
  padding: 1em 3em;
}
.file.is-primary .file-cta {
  background-color: #2a9d8f;
  border-color: transparent;
  color: #fff;
}
.file.is-boxed .file-icon {
  height: 1.5em;
  width: 1.5em;
}
.file-icon {
  align-items: center;
  display: flex;
  height: 1em;
  justify-content: center;
  margin-right: 0.5em;
  width: 1em;
  font-size: 1.8rem;
}
.file-cta {
  background-color: #2a9d8f;
  border-color: transparent;
  color: #fff;
  flex-direction: column;
  height: auto;
  padding: 1em 3em;
  border-radius: 4px 4px 0 0;
}
.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}
.svg-inline--fa.fa-w-12 {
  width: 0.75em;
}
svg:not(:root).svg-inline--fa {
  overflow: visible;
}
.button.is-danger.is-outlined:hover,
.button.is-danger.is-outlined.is-hovered,
.button.is-danger.is-outlined:focus,
.button.is-danger.is-outlined.is-focused {
  background-color: #f14668;
  border-color: #f14668;
  color: #fff;
}
.button.is-danger:focus:not(:active),
.button.is-danger.is-focused:not(:active) {
  box-shadow: 0 0 0 0.125em rgb(241 70 104 / 25%);
}

.pointer {
  cursor: pointer;
}

.annotateBtn {
  font-size: 14px;
  font-family: poppins;
}
.annotateText {
  font-family: poppins;
  font-weight: 600;
  font-size: 15px;
  margin-top: 18px;
  white-space: pre-wrap !important;

  // padding-left: 10px;
}
.tagging {
  font-size: 12px;
  font-family: poppins;
}
.button.is-next.is-outlined {
  background-color: transparent;
  border-color: #3273dc;
  color: #3273dc;
}
.button.is-next.is-outlined:hover,
.button.is-next.is-outlined.is-hovered,
.button.is-next.is-outlined:focus,
.button.is-next.is-outlined.is-focused {
  background-color: #3273dc;
  border-color: #3273dc;
  color: #fff;
}
.button.is-submit.is-outlined {
  background-color: transparent;
  border-color: #28a745;
  color: #28a745;
}
.button.is-submit.is-outlined:hover,
.button.is-submit.is-outlined.is-hovered,
.button.is-submit.is-outlined:focus,
.button.is-submit.is-outlined.is-focused {
  background-color: #28a745;
  border-color: #28a745;
  color: #fff;
}
.button.is-add.is-outlined {
  background-color: white;
  border-color: #3273dc;
  color: #3273dc;
}
.button.is-add.is-outlined:hover,
.button.is-add.is-outlined.is-hovered,
.button.is-add.is-outlined:focus,
.button.is-add.is-outlined.is-focused {
  background-color: #3273dc;
  border-color: #3273dc;
  color: #fff;
}
.list-group-item {
  font-family: poppins;
  font-size: 14px;
  border: none !important;
}
.note {
  font-family: poppins;
  font-size: 16px;
  font-weight: 600;
}
.btn .badge {
  position: relative;
  top: 0px;
  left: 5%;
  color: white;
  font-size: 14px;
}
.tagbutton {
  border-radius: 25px;
  border: 1px solid #0073c0 !important;
  color: #0073c0 !important;
  background-color: #fafafa;
  font-family: "Poppins";
  font-size: 14px;
}
.removetag {
  color: #0073c0 !important;
}
.domain {
  font-size: 14px;
  font-family: poppins;
}
.listborder {
  border: 1px solid;
}
.doticon {
  color: #a3a3a3;
}
.utterance {
  cursor: none;
  user-select: none;
  font-size: 14px;
  font-family: poppins;
}
.saveBtn {
  line-height: 28px;
  padding: 0 8px;
  height: 35px;
}
.addsaveBtn {
  line-height: 28px;
  padding: 0 8px;
  height: 37px;
}
.addCircle {
  color: #17a2b8 !important;
}
