<div class="row m-0">
  <div class="col-8 p-1">
    <div class="row m-0">
      <div class="col-2 p-0">
        <i class="fas fa-user-circle font-25 p-1 text-infoo"></i>
      </div>
      <div class="col-10 pr-2 p-0 pt-1">
        <div class="row m-0 pt-1">
          <p class="text-infoo poppins mb-0">
            {{ chatpersonname | titlecase }}
          </p>
        </div>

        <div class="row m-0">
          <small class="bot-warn" *ngIf="typing">Typing...</small>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="col-4  pt-2 p-0">
      </div> -->
  <div class="col-4 p-1 pt-3">
    <span class="p-1">
      <i
        class="fa fa-times-circle float-end font-16 pointer pr-2"
        title="close"
        (click)="showBotChat()"
      ></i>
      <i
        class="fa fa-ellipsis-v text-infoo float-end font-16 pr-3"
        aria-hidden="true"
        [matMenuTriggerFor]="userinfo"
      ></i>
    </span>

    <mat-menu #userinfo="matMenu" xPosition="before">
      <span mat-menu-item class="font-12 text-mute hvr">Info</span>
      <span mat-menu-item class="font-12 text-mute hvr">Export</span>
      <span mat-menu-item class="font-12 text-mute hvr">Delete chat</span>
    </mat-menu>
  </div>
</div>
