.border-lightGrey {
    border: 1px solid #d8d8d8;
    border-radius: 5px;
}

.primary {
  /*  color: #199ad6;*/
  color: #FAC952;
  font-size: 17px !important;
}

.success {
    color: rgba(0, 195, 101, 0.9);
}

.danger {
    color: red;
}

.warning {
    color: #f39c12;
}
.light{
    /*color: #cccccc;*/
    color: #FAC952 !important;
}

.grey {
    color: #999999;
}


.leftNav-bg {
    background-color: #464b71;
}


.page-bg {
    background-color: #f5f9fb;
}
.blk {
    color: black;
}


.bot-blue {
    color: #0071bc;
}

.bot-warn {
    color: #d31e25;
}

.bot-white {
    color: #ffffff;
}

.bot-green {
    color: #737373;
}

.bot-bg-white {
    background-color: #ffffff;
}