@import "~jsoneditor/dist/jsoneditor.min.css";
.jsoneditor {
  color: #1a1a1a;
  border: thin solid whitesmoke !important;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0;
  line-height: 100%;
}

.jsoneditor-menu {
  width: 100%;
  // height: 35px;
  padding: 2px;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
  background-color: #aab4b7 !important;
  border-bottom: 1px solid #aab4b7 !important;
}

.jsoneditor-menu a.jsoneditor-poweredBy {
  font-size: 8pt;
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  visibility: hidden !important;
}
