// @import "~@swimlane/ngx-datatable/index.css";
// @import '~@swimlane/ngx-datatable/themes/material.scss';
// @import "~@swimlane/ngx-datatable/assets/icons.css";

// .ngx-datatable.material .datatable-header {
//     border-bottom: 1px solid rgba(0, 0, 0, 0.12);
//     background: rgb(245 247 247);
//     height: 30px !important;
// }

// .ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {
//     /* overflow: hidden !important;
//     text-overflow: ellipsis !important;
//     white-space: normal !important;
//     text-align: center !important;
//     vertical-align: middle !important; */
//     background-color: rgb(245 247 247);
// }

// .ngx-datatable.material .datatable-header .datatable-header-cell {
//     text-align: left;
//     padding: 8px !important;
//     font-weight: 400;
//     background-color: #fff;
//     color: rgba(0, 0, 0, 0.54);
//     vertical-align: bottom;
//     font-size: 12px;
//     font-weight: 500;
// }

// .ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
//     text-align: left;
//     padding: 7px !important;
//     vertical-align: top;
//     border-top: 0;
//     color: rgba(0, 0, 0, 0.87);
//     transition: width 0.3s ease;
//     font-size: 12px !important;
//     font-weight: 400;
//     height: 30px !important;
// }

// .ngx-datatable.material .datatable-footer .page-count {
//     line-height: 35px;
//     height: 40px;
//     padding: 0 1.2rem;
// }

// .ngx-datatable.fixed-row .datatable-scroll .datatable-body-row .datatable-body-cell, .ngx-datatable.fixed-row .datatable-scroll .datatable-body-row .datatable-body-group-cell {
//     overflow: hidden;
//     white-space: nowrap;
//     text-overflow: ellipsis;
//     // width: 100px !important;
//     border-bottom: 1px solid #e6e6e6 !important;
//     text-align: justify !important;
// }

// .ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {
//     white-space: nowrap;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     /* width: 100px !important;
//     border: 1px solid #dcdcdc !important; */
// }
