.searchfilter{
   
    // top: 52%;
    // left: 44%;
    // transform: translate(-50%, -50%);
    // background: #f1efef;
    border-radius: 40px;
    // width: 85%;
    border: 1px solid #d6d6d6;
    // border: 1px solid #c0c0c0;
    height: 35px;
  }
  .search-txtfilter{
    border: none;
      background: none;
      outline: none;
    //   float: left;
    //   padding: 1px;
     font-size: 12px;
     line-height: 30px;
     font-weight: 300;
     width: 100%;
  }
  .header-info{
    background-color: #fff;
    border-radius: 8px;
    height: 53px;
  }
  .data-card{
    background: #fff;
    // border-radius: 8px;
    height: calc(100vh - 170px);
  }
  .keyword-name {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #737373;
    margin: 0!important;
  }