<div class="col-sm-12 row p-0 m-0 bgWhite mb-3 sticky">
  <div class="col-sm-2 p-3">
    <img
      src="{{ imgurl }}int7050.png"
      class="mr-2 pointer"
      routerLink="/pages/main"
    />
  </div>
  <div class="col-sm-10">
    <span (click)="logout()" class="float-end pointer primary" title="logout">
      <i class="fa fa-sign-out-alt mr-3 font-16 mt-4 pointer bot-warn"></i
    ></span>
  </div>
</div>
<div>
  <div class="col-sm-12 row m-0 bgWhite">
    <div class="container p-2">
      <h2 class="welcome p-2">Welcome to CHATBOT</h2>
    </div>
  </div>

  <div class="row p-0 m-0 bgWhite">
    <div class="container">
      <h4 class="heading cnts">Chatbot Features</h4>
      <div class="main-timeline2">
        <div class="timeline">
          <i class="icon fa fa-globe"></i>
          <a class="timeline-content aa">
            <h5 class="title">Entity Recognition</h5>
            <p class="description">
              Increase the chatbot's understanding and usability by allowing it
              to extract more information from the same message. 'Sales' is one
              example of an entity. The chatbot can provide nuanced responses
              that are tailored to the sales about which the user is inquiring.
            </p>
          </a>
        </div>
        <div class="timeline">
          <i class="icon fa fa-rocket"></i>
          <a class="timeline-content bb">
            <h5 class="title">Data Retrieval</h5>
            <p class="description">
              Enhance your customer experience by integrating it with the
              database. The chatbot will retrieve the data from your database
              and present you in the form of aggregation, summary, or detailed
              report.
            </p>
          </a>
        </div>
        <div class="timeline">
          <i class="icon fa fa-briefcase"></i>
          <a class="timeline-content cc">
            <h5 class="title">Data Entry</h5>
            <p class="description">
              The chatbot can be personalized to take data entry. “Claim Forms”
              is one of the examples of data entry. Therefore, no waiting line,
              and customers can have 24-hour access to fill the claim form.
            </p>
          </a>
        </div>
        <div class="timeline">
          <i class="icon fa fa-mobile"></i>
          <a class="timeline-content dd">
            <h5 class="title">App Build</h5>
            <p class="description">
              Our chatbot can suggest templates for new application build. Drag
              and drop controls for quick screen generation and app preview. API
              search and linkage to screen containers for data retrieval.
            </p>
          </a>
        </div>
        <div class="timeline">
          <i class="icon fa fa-mobile"></i>
          <a class="timeline-content dd">
            <h5 class="title">Personal Digital Assistance (PDA)</h5>
            <p class="description">
              The chatbot can be personalized to work as a virtual personal
              assistant and will help users by setting reminders.
            </p>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="bgWhite" style="padding-top: 3%">
    <div class="container">
      <div class="col-sm-12 p-2 font-16">
        <h4 class="heading mb-1">Build Your Chatbot</h4>
        <span class="font-13">
          If you are looking for a custom chatbot development and designed for a
          specific task like Sales, Lead Generation, Customer Assistant, Tech
          Support, Customer relationship managing, HR, Recruitment, Support or
          Finance we have the right Chatbot AI solutions for you. As the leading
          chatbot development company in India we, Arkatiss can build innovative
          chatbot that meets your business requirements.</span
        >
        <h4 class="heading mt-2 mb-1 pt-3">Our Key Offerings:</h4>
        <ul>
          <li>Conversational & menu-driven bots</li>
          <li>Transactional, reporting & statistics bots</li>
          <li>Integration with backend systems & database</li>
        </ul>
        <h3 class="heading mb-1 pt-3">Benefits of chatbot development</h3>
        <ul>
          <li>24/7 support for customers.</li>
          <li>Eliminate waiting time.</li>
          <li>Improving Customer Experience</li>
          <li>Increasing Sales & Retention</li>
          <li>Complaints resolved quickly</li>
          <li>Easy communication</li>
          <li>Chatbots can provide better customer engagement</li>
          <li>Chatbots can reduce human time.</li>
          <li>Chatbots are cost-effective.</li>
          <li>Effective Tracking / Monitoring Feature</li>
        </ul>
      </div>

      <div class="col-sm-12 m-0 p-0 feature-icons">
        <h3 class="head">Why Intellobot for Chatbot Development Services ?</h3>
        <span class="font-14 pl-4"
          >Our Chatbot Developers leverage their expertise in building
          user-centric bot apps backed up by the latest technologies.</span
        >
        <div class="row p-0 m-0 mt-2">
          <div
            class="col-xl-4 text-center aos-init aos-animate"
            data-aos="fade-right"
            data-aos-delay="100"
          >
            <img src="assets/features-3.png" class="img-fluid p-4" alt="" />
          </div>

          <div class="col-xl-8 d-flex content">
            <div class="row align-self-center gy-4">
              <div
                class="col-md-6 icon-box aos-init aos-animate"
                data-aos="fade-up"
              >
                <i class="fa fa-envelope ab"></i>
                <div>
                  <h4>Rich and Interactive Content</h4>
                  <span class="font-14"
                    >We develop chatbot integrated with NLP (Natural Language
                    Processing) that interact and engage users</span
                  >
                </div>
              </div>

              <div
                class="col-md-6 icon-box aos-init aos-animate"
                data-aos="fade-up"
                data-aos-delay="100"
              >
                <i class="fa fa-envelope ab"></i>
                <div>
                  <h4>Personalized User Experience</h4>
                  <span class="font-14"
                    >Chatbots developed by us deliver to increase product
                    capabilities and also provides a personalized experience to
                    customers</span
                  >
                </div>
              </div>

              <div
                class="col-md-6 icon-box aos-init aos-animate"
                data-aos="fade-up"
                data-aos-delay="200"
              >
                <i class="fa fa-envelope ab"></i>
                <div>
                  <h4>Engaging UI/UX</h4>
                  <span class="font-14"
                    >As a specialized Chatbot App Development Company, we are
                    expert in developing simple and best UI that improve user
                    experience.
                  </span>
                </div>
              </div>

              <div
                class="col-md-6 icon-box aos-init aos-animate"
                data-aos="fade-up"
                data-aos-delay="300"
              >
                <i class="fa fa-envelope ab"></i>
                <div>
                  <h4>Human Handover</h4>
                  <span class="font-14"
                    >We build chatbots that handover the conversation to support
                    team when they aren’t able to solve requirement or when a
                    user wants to connect with the support personnel with
                    provided information.</span
                  >
                </div>
              </div>

              <div
                class="col-md-6 icon-box aos-init aos-animate"
                data-aos="fade-up"
                data-aos-delay="400"
              >
                <i class="fa fa-envelope ab"></i>
                <div>
                  <h4>API Integration</h4>
                  <span class="font-14"
                    >Our custom chatbot development process makes it easier to
                    integrate Third parties APIs.</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12 p-2 font-16">
        <h3 class="heading">
          Below are the industries where chatbot is being used extensively:
        </h3>
        <ol type="1">
          <li>E-Commerce Industry</li>
          <li>Health Care Industry</li>
          <li>Human Resource Management</li>
          <li>Hospitality/Hotel Industry</li>
          <li>Travel Industry</li>
          <li>Food Industry  </li>
          <li>Real Estate Industry</li>
          <li>Education Industry</li>
        </ol>
      </div>
    </div>

    <div class="row col-sm-12 p-0 m-0 bgWhite">
      <input type="checkbox" id="check" (click)="openwindw($event)" />
      <label
        class="chat-btn pointer"
        for="check"
        [ngStyle]="{ 'background-color': iconBgColor, border: iconBorder }"
      >
        <i class="fa fa-comment-alt-smile" *ngIf="showchatbot"></i>
        <img
          src="{{ imgurl }}chaticon.png"
          class="pointer"
          style="height: 60px"
          *ngIf="showcsbot"
        />
      </label>
      <div class="wrapper p-0 m-0" id="abcd" #abcd>
        <div class="col-sm-12 p-0 p-0">
          <!-- <div class="col-sm-12 bot-bg-white chat-header" *ngIf="showperson2">
            <p class="mb-0" *ngIf="showcsbot">
              <img
                [src]="imgurl + 'int3030.png'"
                class="img-fluid mb-2 mt-1"
                style="height: 50px"
              />
              <span class="bot-title bot-warn">C&S </span>
              <span class="bot-title bot-blue">Virtual Rep</span>
              <i
                class="fa fa-times pointer float-right fa-lg bot-warn mt-4"
                (click)="closewindow()"
              ></i>
              <i
                class="fa fa-external-link-square fa-md float-right pointer mr-3 mt-4 bot-warn"
                routerLink="/pages/main"
              ></i>
            </p>

            <p class="mb-0 pt-3 text-center" *ngIf="showchatbot">
              <img [src]="imgurl + 'int3030.png'" class=" mb-3 mt-1">
              <span>
                <span class="bot-title bot-blue pl-2 mb-3">Chat </span>
                <span class="bot-title bot-blue">Bot</span>
              </span>
              <i
                class="fa fa-times pointer float-right fa-lg bot-warn"
                (click)="closewindow()"
              ></i>
              <i
                class="fa fa-external-link-square fa-md float-right pointer mr-3 bot-blue"
                routerLink="/pages/main"
              ></i>
            </p>
          </div> -->
          <div class="col-sm-12 bot-bg-white chat-header" *ngIf="showperson2">
            <!-- CS BOT HEADER -->
            <div
              *ngIf="showcsbot"
              class="d-flex align-items-center justify-content-between"
            >
              <div class="d-flex align-items-center">
                <img
                  [src]="imgurl + 'int3030.png'"
                  class="img-fluid"
                  style="height: 50px"
                />

                <div class="ml-2">
                  <span class="bot-title bot-warn">C&S</span>
                  <span class="bot-title bot-blue">Virtual Rep</span>
                </div>
              </div>

              <div class="d-flex align-items-center pe-3">
                <i
                  class="fa fa-external-link-square fa-md pointer mr-3 bot-warn"
                  routerLink="/pages/main"
                ></i>

                <i
                  class="fa fa-times pointer fa-lg bot-warn"
                  (click)="closewindow()"
                ></i>
              </div>
            </div>

            <!-- CHAT BOT HEADER -->
            <div
              *ngIf="showchatbot"
              class="d-flex align-items-center justify-content-between"
            >
              <div class="d-flex align-items-center mx-auto">
                <span class="bot-title bot-blue pl-2 mb-0">Chat</span>
                <span class="bot-title bot-blue ml-1 mb-0">Bot</span>
              </div>

              <div class="d-flex align-items-center">
                <i
                  class="fa fa-external-link-square fa-md pointer mr-3 bot-blue"
                  routerLink="/pages/main"
                ></i>

                <i
                  class="fa fa-times pointer fa-lg bot-warn"
                  (click)="closewindow()"
                ></i>
              </div>
            </div>
          </div>

          <div class="row onlineuser m-0 p-0" *ngIf="showperson">
            <div class="col-8 p-1">
              <div class="row m-0">
                <div class="col-2 p-0">
                  <i class="fas fa-user-circle font-25 p-1 text-infoo"></i>
                </div>
                <div class="col-10 pr-2 p-0">
                  <div class="row m-0 pt-1">
                    <p class="text-infoo poppins mb-0">
                      {{ chatnamedisplay | titlecase }}
                    </p>
                  </div>

                  <div class="row m-0">
                    <small class="bot-warn" *ngIf="isTyping">Typing...</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-4 p-1 pt-3">
              <span class="p-1">
                <i
                  class="fa fa-times-circle float-right font-16 pointer pr-2"
                  title="close"
                  (click)="showBotChat()"
                ></i>
                <i
                  class="fa fa-ellipsis-v text-infoo float-right font-16 pr-3"
                  aria-hidden="true"
                  [matMenuTriggerFor]="userinfo"
                ></i>
              </span>
              <mat-menu #userinfo="matMenu" xPosition="before">
                <span mat-menu-item class="font-12 text-mute hvr">Info</span>
                <span mat-menu-item class="font-12 text-mute hvr">Export</span>
                <!-- <span mat-menu-item class="font-12 text-mute hvr">Delete chat</span>  -->
                <span
                  mat-menu-item
                  class="font-12 text-mute hvr"
                  (click)="stopTimer()"
                  >Delete chat</span
                >
              </mat-menu>
            </div>
          </div>
          <ng-template #openCall>
            <iframe
              width="300"
              height="500"
              allow="microphone"
              src="https://ringcentral.github.io/ringcentral-embeddable/app.html"
            >
            </iframe>
          </ng-template>

          <div
            class="card chatcard"
            id="cardval"
            #scrollMe
            [scrollTop]="scrollMe.scrollHeight"
          >
            <div class="mt-3" *ngIf="showperson">
              <div class="">
                <div
                  *ngFor="
                    let a of peerResponse | filter : queryVal;
                    trackBy: trackByArtNo;
                    let idx = index
                  "
                >
                  <div
                    class="media media-chat input"
                    *ngIf="userName === a.sender_name"
                  >
                    <p class="textFirst2 pointer">
                      {{ loginuserName.charAt(0) | titlecase }}
                    </p>

                    <div class="media-body m-0">
                      <span class="bot-input" *ngIf="a.body !== undefined"
                        >{{ a.body }}
                        &nbsp;&nbsp;
                        <sub class="subtime">
                          <small
                            class="bot-input-time"
                            *ngIf="a.peer_time !== undefined"
                          >
                            {{ a.peer_time | date : "shortTime" }}
                          </small>
                        </sub>

                        <mat-icon
                          class="text-white font-13 iconmat pl-2"
                          *ngIf="a.peer_flag === 0"
                        >
                          check
                        </mat-icon>
                        <mat-icon
                          class="text-white font-13 iconmat pl-2"
                          *ngIf="a.peer_flag === 1"
                        >
                          done_all
                        </mat-icon>
                      </span>
                    </div>
                  </div>
                  <div
                    class="media media-chat output mb-3"
                    *ngIf="userName !== a.sender_name"
                  >
                    <p class="textFirst2">
                      {{ userNameLtr.charAt(0) | titlecase }}
                    </p>
                    <div class="media-body m-0">
                      <span class="bot-response" *ngIf="a.body !== undefined"
                        >{{ a.body }} &nbsp;
                        <sub class="subtime">
                          <small
                            class="bot-input-time"
                            *ngIf="a.peer_time !== undefined"
                          >
                            {{ a.peer_time | date : "shortTime" }}
                          </small>
                        </sub>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="media media-chat output" *ngIf="showperson2">
              <img
                src="{{ imgurl }}int3030.png"
                class="img-fluid"
                [ngStyle]="{ height: imgHeight }"
              />
              <!-- <i class="fa fa-robot font-20 primary pt-2"></i> -->
              <div class="media-body m-0">
                <p class="bot-response" *ngFor="let a of botMsg">
                  {{ a }} &nbsp;<sub
                    ><small class="bot-input-time">
                      {{ timestamp | date : "shortTime" }}</small
                    ></sub
                  >
                </p>
              </div>
            </div>
            <div *ngIf="showperson2">
              <h4
                class="line"
                *ngIf="agentChatMsg !== undefined && agentChatMsg !== ''"
              >
                <span class="lne"
                  >{{ this.agentChatMsg | titlecase }} joined chat
                </span>
              </h4>
              <div
                *ngFor="
                  let a of chatResponse | filter : queryVal;
                  trackBy: trackByArtNo
                "
              >
                <div
                  class="media media-chat input p-0 pt-1"
                  *ngIf="a.inputData !== undefined && a.inputData !== ''"
                >
                  <!-- <i class="fa fa-user-circle primary font-20 pt-2"></i> -->
                  <p class="textFirst2 pointer">
                    {{ loginuserName.charAt(0) | titlecase }}
                  </p>
                  <div class="media-body m-0">
                    <p class="bot-input">
                      {{ a.inputData }} &nbsp;&nbsp;<sub
                        ><small class="bot-input-time">
                          {{ a.inptimestamp | date : "shortTime" }}</small
                        ></sub
                      >
                    </p>
                  </div>
                </div>
                <div
                  class="media media-chat output m-0"
                  *ngIf="a.outputData !== undefined && a.outputData !== ''"
                >
                  <img
                    src="{{ imgurl }}int3030.png"
                    class="img-fluid"
                    [ngStyle]="{ height: imgHeight }"
                    *ngIf="a.outputData !== undefined && a.outputData !== ''"
                  />
                  <div class="media-body m-0 row p-0">
                    <p class="bot-response" *ngIf="a.promptVal !== undefined">
                      {{ a.promptVal }} &nbsp;<sub
                        ><small class="bot-input-time">
                          {{ a.outtimestamp | date : "shortTime" }}
                        </small></sub
                      >
                    </p>

                    <p class="bot-response" *ngFor="let resp of a.outputData">
                      {{ resp }} &nbsp;<sub
                        ><small class="bot-input-time">
                          {{ a.outtimestamp | date : "shortTime" }}</small
                        ></sub
                      >
                    </p>
                  </div>

                  <!-- <img
                    *ngIf="a.outputData !== undefined && a.outputData !== ''"
                    src="{{ imgurl }}int3030.png"
                    class="img-fluid"
                    [ngStyle]="{ height: imgHeight }"
                  />

                  <div class="media-body m-0" *ngIf="a.promptVal !== undefined">
                    <p class="bot-response" *ngIf="a.promptVal !== undefined">
                      {{ a.promptVal }} &nbsp;<sub class="subtime2"
                        ><small class="bot-input-time">
                          {{ a.outtimestamp }}</small
                        ></sub
                      >
                    </p>

                    <p
                      class="bot-response"
                      *ngFor="let response of a.outputData"
                    >
                      {{ response }} &nbsp;<sub class="subtime2"
                        ><small class="bot-input-time">
                          {{ a.outtimestamp | date : "shortTime" }}</small
                        ></sub
                      >
                    </p>
                  </div> -->

                  <div
                    class="row col-sm-12 m-0 p-0"
                    *ngIf="a.layout !== undefined"
                  >
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10 pl-4 pr-0 brd pt-1">
                      <div class="row m-0 p-0 pb-1">
                        <button
                          mat-raised-button
                          class="primary m-1 btn btn-sm pointer brdbtn"
                          (click)="app_data_get(b)"
                          *ngFor="let b of a.layout"
                        >
                          {{ b | titlecase }}
                        </button>
                      </div>
                    </div>
                    <div class="col-sm-1"></div>
                  </div>
                  <div
                    class="row col-sm-12 m-0 p-0"
                    *ngIf="a.peerchat !== undefined"
                  >
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10 pl-4 pr-0 pt-1 brd">
                      <div class="row m-0 p-0 pb-1">
                        <button
                          mat-raised-button
                          class="text-info m-1 btn btn-sm brdbtn fw-400"
                          (click)="peerChat(b)"
                          *ngFor="let b of a.peerchat"
                        >
                          {{ b.key | titlecase }}
                        </button>
                      </div>
                    </div>
                    <div class="col-sm-1"></div>
                  </div>
                  <div
                    class="row col-sm-12 m-0 p-0"
                    *ngIf="a.ratings !== undefined"
                  >
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10 pl-4 pr-0 pt-1 brd">
                      <div class="row m-0 p-0 pb-1">
                        <button
                          mat-raised-button
                          class="text-info m-1 btn btn-sm fw-400 brdbtn"
                          (click)="ratingUserChat(b)"
                          *ngFor="let b of a.ratings"
                        >
                          {{ b.rating | titlecase }}
                        </button>
                      </div>
                    </div>
                    <div class="col-sm-1"></div>
                  </div>
                  <div
                    class="row col-sm-12 m-0 p-0"
                    *ngIf="a.qstn !== undefined"
                  >
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10 pl-4 pr-0 brd pt-1">
                      <div class="row m-0 p-0 pb-1">
                        <button
                          mat-raised-button
                          class="primary m-1 pointer brdbtn"
                          (click)="app_data_get(b)"
                          *ngFor="let b of a.yn"
                        >
                          {{ b | titlecase }}
                        </button>
                      </div>
                    </div>
                    <div class="col-sm-1"></div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="showperson2">
              <div
                class="media media-chat output pt-2 pb-2"
                *ngIf="showspinner == true"
                style="position: relative"
              >
                <!-- <i class="fa fa-robot font-20 primary pt-2"></i> -->
                <img
                  src="{{ imgurl }}int3030.png"
                  class="img-fluid"
                  [ngStyle]="{ height: imgHeight }"
                />
                <div class="media-body m-0 pb-3">
                  <!-- <p class="" style="height:50px;"> -->
                  <!-- <span class="cust1">Typing</span> -->
                  <ngx-spinner
                    class="cust1"
                    bdColor="#ffffff00"
                    size="small"
                    color="#09f"
                    type="ball-pulse-sync"
                    [fullScreen]="false"
                  >
                  </ngx-spinner>

                  <!-- </p> -->
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-12 p-0">
            <div class="row publishers m-0">
              <div class="col-sm-12 p-0 d-flex align-items-center gap-3 pe-3">
                <input
                  class="publishers-input pl-3"
                  type="text"
                  [value]="service.text"
                  (keyup)="typingChat($event)"
                  *ngIf="enterbox"
                  placeholder="Type message and press ENTER"
                  [(ngModel)]="inputmsg"
                  (keyup.enter)="Chatclick()"
                />
                <mat-icon
                  class="primary font-20 pl-1 pointer gradient float-right ml-auto"
                  [matMenuTriggerFor]="options"
                >
                  apps
                </mat-icon>
                <a
                  class="publishers-btn primary"
                  data-abc="true"
                  *ngIf="enablevoicechat"
                >
                  <i
                    class="fad fa-microphone font-19 pointer primary"
                    (click)="startService()"
                    *ngIf="starthide"
                    [ngStyle]="{ color: bgColor }"
                  ></i>
                  <i
                    class="fad fa-microphone font-19 pointer primary"
                    (click)="stopService()"
                    *ngIf="stophide"
                    style="color: #ea4335"
                  ></i>
                </a>

                <a class="publisher-btn file-group pl-1 pt-1">
                  <mat-icon
                    class="primary pointer mb-1 usergradient"
                    [matMenuTriggerFor]="activeusers"
                    (click)="getActiveUsers()"
                    id="shw"
                  >
                    people_outline
                  </mat-icon>
                  <img
                    src="{{ imgurl }}int3030.png"
                    class="mb-1 pointer img-fluid"
                    (click)="showBotChat()"
                    id="shw2"
                    style="display: none; height: 20px; width: 20px"
                  />
                </a>

                <a
                  class="publishers-btn"
                  data-abc="true"
                  (click)="Chatclick()"
                  style="color: #d31e25"
                >
                  <i
                    style="color: #d31e25"
                    class="fa fa-paper-plane"
                    [ngStyle]="{ color: bgColor }"
                    title="send message"
                  ></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<mat-menu
  #activeusers="matMenu"
  yPosition="above"
  xPosition="before"
  xPosition="before"
  class="my-menu"
>
  <p class="center mb-0 p-2">Users</p>
  <span *ngFor="let a of activeUsers">
    <span
      mat-menu-item
      routerLinkActive="active"
      (click)="chatUser(a)"
      *ngIf="a.chatFlag === 0"
    >
      <mat-icon class="chatbox__user--active font-15 pt-1">
        fiber_manual_record
      </mat-icon>
      <span
        class="font-12 text-mute hvr"
        (click)="chatUser(a)"
        *ngIf="a.chatFlag === 0"
        >{{ a.user | titlecase }}</span
      >
    </span>
  </span>
</mat-menu>

<mat-menu #options="matMenu" xPosition="after">
  <span
    mat-menu-item
    routerLinkActive="active"
    (click)="resetChat()"
    class="text-mute hvr"
  >
    <mat-icon class="text-infoo font-20" title="reset chat">
      restart_alt
    </mat-icon>
    Reset Chat
  </span>

  <span
    mat-menu-item
    routerLinkActive="active"
    (click)="undoChat()"
    class="text-mute hvr"
  >
    <mat-icon class="text-infoo font-20" title="undo chat"> undo </mat-icon>
    Undo
  </span>
  <span
    mat-menu-item
    routerLinkActive="active"
    (click)="enableVoiceChat('enable')"
    class="text-mute hvr"
    *ngIf="enablecontrol"
  >
    <i
      class="fad fa-microphone font-19 pointer"
      title="mic"
      [ngStyle]="{ color: bgColor }"
    ></i>
    <span class="pl-4"> Enable Voice Chat </span>
  </span>
  <span
    mat-menu-item
    routerLinkActive="active"
    (click)="enableVoiceChat('disable')"
    class="text-mute hvr"
    *ngIf="enablevoicechat"
  >
    <i
      class="fad fa-microphone font-19 pointer"
      title="mic"
      [ngStyle]="{ color: bgColor }"
    ></i>
    <span class="pl-4"> Disable Voice Chat </span>
  </span>
</mat-menu>
